<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slideout Demo</title>
    <meta http-equiv="cleartype" content="on">
    <meta name="MobileOptimized" content="320">
    <meta name="HandheldFriendly" content="True">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel = "stylesheet" href="../static/semantic-UI/semantic.min.css">
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
    <link rel="manifest" href="static/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="static/images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script type="text/javascript" src="../static/app.js"></script>
    <style>
      body {
        width: 100%;
        height: 100%;
        margin: 0px;
      }

      .slideout-menu {
        position: fixed;
        top: 0;
        bottom: 0;
        width: 256px;
        min-height: 100vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        display: none;
      }

      .slideout-menu-left {
        left: 0;
      }

      .slideout-menu-right {
        right: 0;
      }

      .slideout-panel {
        position: relative;
        z-index: 1;
        will-change: transform;
        background-color: #FFF; /* A background-color is required */
        min-height: 100vh;
      }

      .slideout-open,
      .slideout-open body,
      .slideout-open .slideout-panel {
        overflow: hidden;
      }

      .slideout-open .slideout-menu {
        display: block;
      }

      tr{
        width: 100%;
        height: 40px;
      }
    </style>
  </head>
  <body>

    <nav id="menu" style="background:#E8F8F5;text-align:center;">
      <div style="width:100%;height:7.6%;background:#EEE;padding:10px;">
      </div>
      <table style="padding:10px;">
        <tr> <td><a href="/templates/one.html">One</a></td> </tr>
        <tr> <td><a href="two.html">Two</a></td> </tr>
        <tr> <td><a href="three.html">Three</a></td> </tr>
        <tr> <td><a href="index.html">Four</a></td> </tr>
        <tr> <td><a href="two.html">Five</a></td> </tr>
      </table>
    </nav>

    <main id="panel" style="background:#F4ECF7;height:100%;">
      <header style="background:#E8F8F5;">
        <table>
          <tr>
            <td>
              <button class="toggle-button ui button" style="border-radius:40px;padding:8px;margin:8px;">
                <i class="fa fa-bars" aria-hidden="true"></i> 
              </button>
            </td>
            <td>
              <h2>Asdf</h2>
            </td>
          </tr>
        </table>
      </header>
        <div style="padding:10px;">
            <div class="ui top attached tabular menu">
              <a class="item active" data-tab="first">First</a>
              <a class="item" data-tab="second">Second</a>
              <a class="item" data-tab="third">Third</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="first" style="height:80%;">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem
            </div>
            <div class="ui bottom attached tab segment" data-tab="second">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.amet
            </div>
            <div class="ui bottom attached tab segment" data-tab="third">
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
              tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
              vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
              no sea takimata sanctus est Lorem ipsum dolor sit amet.amet
            </div>
        </div>
    </main>

    <script src="../static/slideout-1.0.1/dist/slideout.min.js"></script>
    <script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

       // Toggle button
       document.querySelector('.toggle-button').addEventListener('click', function() {
       slideout.toggle();
      });
    </script>

  </body>
</html>
